{% if viewsOnSheet|length > 0 %}
netload {{ tectonica_path }}/tectonica.dll
tecrnxref
tecfixms
{% endif %}
layout set Layout1
zoom all
chspace all


(command)
model
{% if viewsOnSheet|length > 0 %}
xref t * r
{% endif %}
zoom all
save ./derevitized/{{ sheetName }}_xrefed.dwg
exit
